body {
  margin: 0;                     /* removes the default space outside the body */
  padding: 0;                    /* removes the default space inside the body */
  font-family: Poppins, Arial;   /* sets the main font to Poppins, falls back to Arial if not available */
  user-select:none;
}
p {
  margin: 0;                     /* removes the default top/bottom margin for paragraphs */
}
.intro-note{
  position: absolute;
  top:37vh;
  right:6vw;
  width:68vw;
  height:55vh;
  display:flex;
  align-items:center;
  gap:25px;
}
