body {
  margin: 0;          /* removes the default margin of the page so content starts at the very edge */
  margin-bottom:100px;
  user-select: none;    /* prevents the user from selecting text on the page */
}


p {
  margin: 0;            /* removes the default margin of paragraph elements ( a shorthand for all the directions) */
  font-family: Poppins; /* sets the font of all paragraph text to Poppins */
}

.global-container {
  position: absolute;   /* positions the container relative to its nearest positioned parent(the one with a different position than static(default)) so we can move it freely */
  top: 24vh;            /* sets the distance from the edges of the screen(top/right/bottom/left) */
  left: 6vw;            
  right: 6vw;           
  display: flex;        /* uses flexbox to arrange the child elements horizontally(by default)*/
  justify-content: center; /* centers the child elements horizontally inside the container */
  gap: 12vw;     /* adds 12% of the viewport width space between each column inside the flex container */
}
.section {
  flex:1;
  display: flex;        /* uses flexbox to arrange child elements inside the section */
  flex-direction: column; /* stacks the child elements vertically */
  gap: 5.7vh;       /* adds vertical spacing between elements equal to 5.7% of the viewport height */
}



